<form [formGroup]="formAluno">
    <div class="col-mb-3 text-center">
        <div class="row">
            <div class="col-md-6 text-right">
                <button type="button" class="btn btn-secondary" (click)="cadastrarAluno()">Cadastrar Aluno</button>
            </div>
            <div class="col-md-6 text-left">
                <button type="button" class="btn btn-outline-secondary" (click)="voltarTelaInicial()">Voltar</button>
            </div>
        </div>
        <div>
            <br>
        </div>
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label>
                    <h5 style="text-align: justify">
                        Pesquisar Alunos
                    </h5>
                </label>
            </div>
            <div class="col-md-4">
                <input class="form-control" placeholder="nome" formControlName="aluno">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-secondary" (click)="pesquisarAluno()">Pesquisar</button>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div>
        <br>
    </div>
    <div class="col-mb-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Matrícula</th>
                            <th scope="col">Nome</th>
                            <th scope="col">e-mail</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let aluno of listaAlunos | async">
                        <tr>
                            <th scope="row">{{aluno.id}}</th>
                            <td>{{aluno.nome}}</td>
                            <td>{{aluno.email}}</td>
                            <td><button class="btn btn-outline-danger" (click)="deletarAlunoId(aluno)">X</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</form>