<div>
    <br>
</div>
<div class="col-mb-3 text-center">
    <h3>Selecione a opção desejada</h3>
</div>
<div>
    <br>
</div>
<div>
    <br>
</div>
<div class="col-mb-3">
    <div class="row text-center">
        <div class="col-md-3">
            <div class="card" style="width: 10rem; border: transparent">
                <img (click)="direcionarTelaAlunos()" class="card-img-top" src="/assets/icons/aluno.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Alunos</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 10rem; border: transparent">
                <img (click)="direcionarTelaDisciplinas()" class="card-img-top" src="/assets/icons/disciplinas.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Disciplinas</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 10rem; border: transparent">
                <img (click)="direcionarTelaTurmas()" class="card-img-top" src="/assets/icons/turma.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Turmas</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 10rem; border: transparent">
                <img (click)="direcionarTelaSalas()" class="card-img-top" src="/assets/icons/salas.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Salas</h5>
                </div>
            </div>
        </div>
    </div>
</div>